@import (reference) url("refs.less");

.Phase-VI .Title {
  width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 50px;
}

.Phase-VI img {
  width: 100%;
  height: auto;
}

.Phase-VI {
  // border: 1px solid green;
  padding-top: 30px;

}

.Phase-VI h1 {
  text-align: center;
  font-size: 50px;
}

.Phase-VI .EntryTitle {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin: 20px 0;
  font-weight: normal;
}

.Phase-VI .EntryTitle p {
  font-size: 10px;
  text-transform: uppercase;
  color: lighten(gray, 20%);
  margin: 10px 0;
}

.Phase-VI .EntryTitle h2 {
  font-size: 15px;
  color: #FF2A97;
}

.Phase-VI .EntryTitle h3 {
  font-size: 12px;
  width: 400px;
  margin: 0 auto;
}

.Phase-VI .Entries {
  margin-top: 30px;
}
.Phase-VI .Description {
  width: 70%;
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  border-top: 2px solid #d4d4d4;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;

}

.Phase-VI .Description span {
  display: inline;
  opacity: .5;
  float: right;
}

.Phase-VI .Entries li {
  list-style: none;
}

.Phase-VI .SectionOpener, 
.Phase-VI .SectionCloser {
    width: 50%;
    margin: 0 auto 0 auto;

}

.Phase-VI .EntryContent .Viz {

  border: 1px solid transparent;
  width: 50%;
  float: left;
  display: block;

}



// Responsive - Phone - Portrait
// --------------------------------------------------
@media (min-width: 0) and (max-width: 480px) {


}
