.AudioSwap .Entry {
  list-style: none;
  display: inline-block;
  overflow: hidden;
  height: 215px;
  padding-top: 30px;
  cursor: pointer;
}
.AudioSwap .EntryContent,
.AudioSwap .EntryShim {
  width: 500px;
  height: 250px;
  list-style: none;
}
.AudioSwap .Entry .EntryContent {
  padding: 0 25px;
}
.AudioSwap .EntryShim {
  display: none;
}
.AudioSwap .Hidden {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.AudioSwap .Entry:hover {
  z-index: 100;
}
.AudioSwap .Entry:hover .Hidden {
  display: block;
  opacity: 1;
}
.AudioSwap .Entry:hover .EntryShim {
  display: block;
}
.AudioSwap .Entry:hover .EntryContent {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  background: white;
  position: absolute;
  height: 400px;
  margin-top: -90px;
  padding-top: 30px;
  z-index: 100;
}
.AudioSwap .EntryTitle {
  font-size: 27px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
}
.AudioSwap .AudioEntry {
  float: left;
  width: 50%;
}
.AudioSwap .AudioCircle,
.AudioSwap .AudioName,
.AudioSwap .AudioTitle {
  margin: 0 auto;
  text-align: center;
  width: 150px;
}
.AudioSwap .AudioName {
  font-weight: bold;
  margin-bottom: 10px;
}
.AudioSwap .AudioCircle {
  border: 10px solid gray;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 150px;
}
.AudioSwap .AudioName {
  text-transform: capitalize;
  margin-top: 20px;
}
.AudioSwap .AudioTitle {
  opacity: .5;
}
